* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 100vmin;
    height: 100vmin;
    border: 1px solid blueviolet;

    display: flex;
    flex-wrap: wrap;
}

.square {
    border: 0px solid blue;
}